<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<h1>Editar Veículo</h1>
<form name="formularioeditar" action="/editar/{{veiculo.id}}" method="post">
 <div>
    <div>
    <label>Proprietário:</label>
    <input type="text" name="proprietario"  value="{{ veiculo.proprietario }}">
  </div>

<div>
    <label>Modelo:</label>
    <input type="text" name="modelo" value="{{ veiculo.modelo }}">
</div>

<div>
    <label>Ano:</label>
    <input type="text" name="ano" value="{{ veiculo.ano }}">
</div>  
<div>
    <label>Fabricante:</label>
    <input type="text" name="fabricante" value="{{ veiculo.fabricante }}">
</div>
<div>
    <label>Placa:</label>
    <input type="text" name="placa" value="{{ veiculo.placa }}">
</div>
<div>
    <label>Renavam:</label>
    <input type="text" name="renavam" value="{{ veiculo.renavam }}">
</div>   
 <br>
 <div class="btn-salvar">
      <button > <img src="/salvar.png" width="15"> Salvar</button>
    </div>
   
  </div>
</form>

 
<a href="/"><button> <img src="/voltar.png" width="15"> Voltar</button></a>
