<img src="../public/logo.png" width="300">
<h1>CADASTRO DE VEÍCULOS</h1><br>


<hr>
<table >
  <thead>
    <tr>
      <th>ID</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Ações</th>
    </tr>
    
  <tbody>
    
  </thead>

    {{#each veiculos}}
      <tr>
        <td>{{> patialsveiculos}}</td>
        <td>{{this.id}}</td>
        <td>{{this.modelo}}</td>
        <td>{{this.ano}}</td>
        <td>
          <a href="/editar/{{this.id}}"><button>Editar</button></a>
          <a href="/deletar/{{this.id}}"><button>Deletar</button></a>
        </td>
      </tr>
      
    {{/each}}
  </tbody>
    <td>
         <a href="/cadastro"><button>Adicionar</button></a>
        </td>
</table>

