<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10">
    <h2>Lista de Clientes</h2>

    <table class="table table-striped" style="background-color: #F5F8FF;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Endereço</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
        {{#each cliente}}
          <tr>
            <th scope="row">{{this.idCliente}}</th>
            <td>{{this.nome}}</td>
            <td>{{this.cpf}}</td>
            <td>{{this.email}}</td>
            <td>{{this.telefone}}</td>
            <td>{{this.endereco}}</td>
          
            <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/editar/cliente/{{this.idCliente}}"><button type="button" class="btn btn-outline-info btn-sm"><i class="bi bi-pen-fill"></i>Editar</button></a>
                <a href="/excluir/cliente/{{this.idCliente}}"><button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-person-dash"></i>Deletar</button></a>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-primary" href="/cadastro/cliente" role="button"><i class="bi bi-person-plus-fill"></i> Novo</a>

    </div>  
  </div>
</div>