<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10">
      <h2>Todas as Locações</h2>
      <table class="table table-striped" style="background-color: #F5F8FF;">
        <thead>
          <tr>
            <th scope="col">ID Locação</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano</th>
            <th scope="col">Valor Diária</th>
            <th scope="col">ClienteID</th>
            <th scope="col">VeiculoID</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody>
          {{#each locacao}}
            <tr>
              <th scope="row">{{this.idLocacao}}</th>
              <td>{{this.nome}}</td>
              <td>{{this.cpf}}</td>
              <td>{{this.marca}}</td>
              <td>{{this.modelo}}</td>
              <td>{{this.ano}}</td>
              <td>{{this.valordiaria}}</td>
              <td>{{this.idCliente}}</td>
              <td>{{this.idVeiculo}}</td>

              <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="/editar/locacao/{{this.idLocacao}}"><button type="button" class="btn btn-outline-info btn-sm"><i class="bi bi-pen-fill"></i>Editar</button></a>
                  <a href="/excluir/locacao/{{this.idLocacao}}"><button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-person-dash"></i>Deletar</button></a>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/cadastro/locacao" role="button"><i class="bi bi-plus-circle"></i> Novo</a>
    </div>
  </div>
</div>  



