{{> header}}

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col align-self-center mx-auto" style="background-color: #F5F8FF;">
      <h2>Editar Locação</h2>

      <form action="/editar/locacao/{{locacao.idLocacao}}" method="post">
        <div class="container-fluid"> 
          <div class="row">
            <div class="col-6">
              <div>
                <label class="form-label">Data Início:</label>
                <input class="form-control"  value="{{ locacao.dataInicio }}" type="date" name="dataInicio">
              </div>

              <div>
                <label class="form-label">Data Fim:</label>
                <input class="form-control" value="{{ locacao.dataFim }}" type="date" name="dataFim">
              </div>

              <div>
                <label class="form-label">CPF Cliente:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" value="{{ locacao.cpf }}" name="cpf" id="campo-cliente" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline btn-info" type="button"  id="botao-buscar-cliente"><i class="bi bi-search"></i></button>
                </div>    
              </div>

              <div id="erro-cliente" style="color: red; display: none;">Esse cliente não existe! Tente novamente!</div>

              <div>
                <label class="form-label">Nome do Cliente:</label>
                <input class="form-control" type="text"  value="{{ locacao.nome }}" name="nome" id="nome-cliente" readonly>
              </div>

              <div>
                <label class="form-label">Placa Veículo:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" value="{{ locacao.placa }}" name="placa" id="campo-veiculo" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline btn-info" type="button"  id="botao-buscar-veiculo"><i class="bi bi-search"></i></button>
                </div>    
              </div>
              
              <div id="erro-veiculo" style="color: red; display: none;">Esse veículo não existe! Tente novamente!</div>

            
              <div>
                <label class="form-label">Marca:</label>
                <input type="text" class="form-control" value="{{ locacao.marca }}" name="marca" id="campo-marca" readonly>
              </div>
              <br>
            </div>

            <div class="col-6">
              <div>
                <label class="form-label">Modelo:</label>
                <input type="text" class="form-control" value="{{ locacao.modelo }}" name="modelo" id="campo-modelo" readonly>
              </div>

              <div>
                <label class="form-label">Cor:</label>
                <input type="text" class="form-control" value="{{ locacao.cor }}" name="cor" id="campo-cor" readonly>
              </div>

              <div>
                <label class="form-label">Renavam:</label>
                <input type="text" class="form-control"  value="{{ locacao.renavam }}" name="renavam" id="campo-renavam" readonly>
              </div>

              
              <div>
                <label class="form-label">Valor Diária:</label>
                <input class="form-control" type="text" value="{{ locacao.valorDiaria }}" name="valorDiaria" id="campo-valor-diaria" readonly>
              </div>

              <div>
                <label class="form-label">Quantidade de Diárias:</label>
                <input class="form-control" type="text" value="{{ locacao.quantidadeDiarias }}"  name="quantidadeDiarias" id="campo-total-diarias" readonly>
              </div>

              <div>
                <label class="form-label">Valor Total:</label>
                <input class="form-control" type="number" value="{{ locacao.valorTotal }}" name="valorTotal" id="campo-valor-total" readonly>
              </div>
              <br>
            </div>
          </div>
        </div>

        <div>
          <button class="btn-salvar btn btn-primary"><i class="bi bi-file-earmark-check"></i> Salvar</button>
          <a href="/view/locacao"><button type="button" class="btn btn-secondary"><i class="bi bi-file-earmark-excel"></i> Cancelar</button></a>
        </div>   

      </form>
    </div>

    <div class="col align-self-center mx-auto text-center">
      <div class="text-center">
        <img src="/locação.jpg" class="rounded" width="500" class="me-1">
      </div>
    </div>

  </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //BUSCAR CLIENTE PELO CPF
  $(document).ready(function() {
    $('#botao-buscar-cliente').click(function() {
      const cpf = $('#campo-cliente').val();
      
      if (cpf) {
        $.ajax({
          url: '/buscar-cliente/' + cpf,
          method: 'GET',
          dataType: 'json',
          success: function(data) {
            if (data) {
              const nomeCliente = data.nome; // Nome do cliente retornado pelo servidor
              $('#nome-cliente').val(nomeCliente); // Preenche o valor do campo de nome do cliente
            } else {
              $('#erro-cliente').show(); // Exibe a mensagem de erro
              
              // Limpa o campo após 3 segundos
            setTimeout(function() {
                $('#campo-cliente').val(''); // Limpa o campo cpf novamente
                $('#erro-cliente').hide(); // Oculta a mensagem de erro
            }, 3000); // Tempo em milissegundos (3 segundos)
            }
          
          },
          error: function(xhr, status, error) {
            console.error(error);
            
          }
        });
      }
    });
    
    

//BUSCAR VEÍCULO PELA PLACA
    $('#botao-buscar-veiculo').click(function() {
  const placa = $('#campo-veiculo').val();
  
  if (placa) {
    $.ajax({
      url: '/buscar-veiculo/' + placa,
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        if (data) {
          const { marca, modelo, cor, renavam, valordiaria } = data; // Campos retornados pelo servidor
          $('#campo-marca').val(marca); // Preenche o campo marca com o valor retornado
          $('#campo-modelo').val(modelo); // Preenche o campo modelo com o valor retornado
          $('#campo-cor').val(cor); // Preenche o campo cor com o valor retornado
          $('#campo-renavam').val(renavam); // Preenche o campo renavam com o valor retornado
          $('#campo-valor-diaria').val(valordiaria); // Preenche o campo valor da diária


//CALCULA O VALOR TOTAL DA LOCAÇÃO   
          
          const dataInicio = $('[name="dataInicio"]').val();
          const dataFim = $('[name="dataFim"]').val();
          const diffTime = Math.abs(new Date(dataFim) - new Date(dataInicio));
          const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
          const valorTotal = valordiaria * diffDays;
          $('#campo-total-diarias').val(diffDays); // Total de dias
          $('#campo-valor-total').val(valorTotal); // Preenche o campo valor total
        } else {
            
            $('#erro-veiculo').show(); // Exibe a mensagem de erro

            
            // Limpa o campo após 3 segundos
            setTimeout(function() {
                $('#campo-veiculo').val(''); // Limpa o campo de placa do veículo novamente
                $('#erro-veiculo').hide(); // Oculta a mensagem de erro
            }, 3000); // Tempo em milissegundos (3 segundos)
        }
      },
      error: function(xhr, status, error) {
        console.error(error);
        
      }
    });
  }
});


  });
</script>
