<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10">
      <h2>Todos os Automóveis</h2>
      <table class="table table-striped table-bordered" style="background-color: #F5F8FF;">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID Veiculo</th>
            <th class="text-center" scope="col">Marca</th>
            <th class="text-center" scope="col">Modelo</th>
            <th class="text-center" scope="col">Ano</th>
            <th class="text-center" scope="col">Cor</th>
            <th class="text-center" scope="col">Placa</th>
            <th class="text-center" scope="col">Renavam</th>
            <th class="text-center" scope="col">Valor Diária</th>
            <th class="text-center" scope="col">Ações</th>
          </tr>
        </thead>  

        <tbody>
          {{#each veiculos}}
            <tr>
              <th class="text-center" scope="row">{{this.idVeiculo}}</th>
              <td class="text-center">{{this.marca}}</td>
              <td class="text-center">{{this.modelo}}</td>
              <td class="text-center">{{this.ano}}</td>
              <td class="text-center">{{this.cor}}</td>
              <td class="text-center">{{this.placa}}</td>
              <td class="text-center">{{this.renavam}}</td>
            
              <td class="text-center">{{this.valordiaria}}</td>

              <td>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                  <a href="/editar/veiculo/{{this.idVeiculo}}"><button type="button" class="btn btn-outline-info btn-sm"><i class="bi bi-pen-fill"></i>Editar</button></a>
                  <a href="/excluir/veiculo/{{this.idVeiculo}}"><button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-person-dash"></i>Deletar</button></a>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/cadastro/veiculo" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 1 16 16"><path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/></svg> Novo</a>
    </div>
  </div>
</div>    