<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
{{> header}}

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col align-self-center mx-auto" style="background-color: #F5F8FF;">
      <h2>Editar Cliente</h2>
      <br>
      
      <form name="formularioeditar" action="/editar/cliente/{{cliente.idCliente}}" method="post">
        <div>
          <div>
            <label class="form-label">Nome:</label>
            <input class="form-control" type="text" name="nome"  value="{{ cliente.nome }}">
          </div>

          <div>
            <label class="form-label">CPF:</label>
            <input class="form-control" type="text" name="cpf" value="{{ cliente.cpf }}">
          </div>

          <div>
            <label class="form-label"> Email:</label>
            <input class="form-control" type="text" name="email" value="{{ cliente.email }}">
          </div>  
          <div>
            <label class="form-label">Telefone:</label>
            <input class="form-control" type="text" name="telefone" value="{{ cliente.telefone }}">
          </div>
          <div>
            <label class="form-label">Endereço:</label>
            <input class="form-control" type="text" name="endereço" value="{{ cliente.endereco}}">
          </div>
          <br>

          <div class="btn-salvar">
            <button class="btn-salvar btn btn-primary"><i class="bi bi-file-earmark-check"></i> Salvar</button>
            <a href="/view/clientes"><button type="button" class="btn btn-secondary"><i class="bi bi-file-earmark-excel"></i> Cancelar</button></a>
          </div>
          <br>
        </div>
      </form>
    </div>

    <div class="col align-self-center mx-auto text-center">
      <div class="text-center">
        <img src="/cliente.jpg" class="rounded" width="600" class="me-1">
      </div>
    </div>

  </div>
</div>
